@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0a4c8f;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.wallet-adapter-dropdown {
  background-image: url('/images/buttons/connect_wallet.svg');
  background-size: cover;
  width: 200px;
  height: 56px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.wallet-adapter-dropdown-list {
  font-family: LilitaOne;
  width: 200px;
  z-index: 20;
}

.wallet-adapter-dropdown-list-item {
  font-size: 16px;
}

.wallet-adapter-button:not([disabled]):hover {
  background: transparent;
}

.wallet-adapter-button {
  text-transform: uppercase;
  text-shadow: 0 1px black;
  -webkit-text-stroke: 1px black;
  font-family: LilitaOne;
  font-size: 20px;
  height: 56px;
  line-height: 36px;
  display: flex;
  align-items: center;
}

.modal-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pork-background {
  background-image: url('/images/background.svg');
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

@font-face {
  font-family: 'LilitaOne';
  src: url('/fonts/LilitaOne_Regular.ttf');
}

.font-lilitaone {
  font-family: LilitaOne;
}

.text-shadow {
  text-shadow: 0 4px black;
  -webkit-text-stroke: 1px black;
}

.text-shadow-sm {
  text-shadow: 0 1px black;
  -webkit-text-stroke: 1px black;
}